extends ../layout
block content
 h1 Nueva Bicicleta

 br
 br

 form(action='create/' method='post')
  label(for=id) Id:
  input#id(type='text' name='id')
  <br>
  label(for=color) Color:
  input#id(type='text' name='color')
  <br>
  label(for=modelo) Modelo:
  input#id(type='text' name='modelo')
  <br>
  label(for=lat) Latitud:
  input#id(type='text' name='lat')
  <br>
  label(for=lng) Longitud:
  input#id(type='text' name='lng')
  <br>
  <br>
  input.btn(type='submit' value='Registrar')

 a(href='/bicicletas') Regresar
