extends ../layout
block content
 .container
  a.btn-info(href='bicicletas/create' class='btn my-2') Nueva bicicleta
  table.table
   thead
   tr
    th(scope='col') #
    th(scope='col') Color
    th(scope='col') Modelo
    th(scope='col') Ubicacion
    th(scope='col2' colspan="2") Acciones
   tbody
    each bici in bicis
     tr
      td(scope='row') 
        = bici.id
      td= bici.color
      td= bici.modelo
      td= bici.ubicacion
      td
        form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
         input(type='hidden' name='id' value=bici.id)
         button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn') Eliminar
      td
        a.btn-success(href='/bicicletas/'+bici.id+'/update' class='btn') Editar
  #mapid(class='my-2' style='width: 300px; height: 500px;')
 script.
  var map = L.map('mapid').setView([-34.6012424, -58.3861497],13);
